/*________________

RESET
__________________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*________________

COMMON
__________________ */

.big {
    max-width: 80vh;
    min-width: 1200px;
}

.small {
    max-width: 60vh;
    min-width: 900px;
}

.button {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    font-size: 25px;
}

a {
    text-decoration: none;
}

/*________________

HEADER
__________________ */

header{
    margin-bottom: 2px solid #add8e6;
    background-color: #255ee9;
    color: white;  
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bar {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}

.header-bar>* {
    min-width: fit-content;
}

.navigator ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

header a {
    color: white;
}

#login {
    color: black;
    background-color: white;
}

.navigator {
    flex-grow: 1;
    justify-content: center;
}

.logo {
    width: 20%;
    margin-right: 40px;
}

.login {
    width: 20%;
    margin-left: 40px;
    text-align: right;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.jumbo {
    max-width: 900px;
    text-align: center;
    margin: 100px auto;
}

header h1 {
    font-size: 50px;
    line-height: 70px;
    margin: 30px auto;
}

header p {
    font-size: 25px;
    line-height: 40px;
    margin: 15px auto;
}

header .button {
    font-size: 25px;
}

header .direct-download {
    background-color: white;
    color: black;
}

header .browser-app {
    background-color: black;
    color: white;
    margin-left: 20px;
}

/*________________

MAIN
__________________ */

main>section {
    display: flex;
    align-content: center;
    justify-content: center;
}

main>section:nth-child(even) {
    background-color: #d3d3d3;
}

.row {
    display: flex;
    margin: 64px 0;
}

.large-col {
    width: 60%;
    min-width: min-content;
}

.small-col {
    width: 40%;
}

.last-box {
    margin: 60px 0;
    text-align: center;
    max-width: min-content;
}

main:last-child{
    display: flex;
    align-content: center;
    justify-content: center;
}

main h2 {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
}

main p {
    font-size: 25px;
    line-height: 40px;
    margin: 30px auto;
}

.last-box img  {
    margin-bottom: 40px;
}

.last-box a {
    background-color: #255ee9;
    color: white;
}

.last-box p:last-of-type{
    padding: 30px;
    background-image: url(../img/stars.svg);
    max-width: fit-content;
    background-position-y: top;
    background-repeat: no-repeat; 
    background-size: cover;
}

/*________________

FOOTER

__________________ */

footer a{
    color: white;
    font-size: 20px;
}

footer>section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23272a;
}

.footer-top {
    align-items: center;
}

.footer-row {
    display: flex;
    margin-top: 12px;
    margin-bottom: 48px;
    border-bottom: 2px solid #303849;
}

.footer-row>* {
    padding: 40px;
    flex-grow: 1;
}

.footer-col:first-child {
    flex-grow: 2;
}

.footer-bottom .box {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
}

footer h3 {
    font-size: 40px;
    color: #6b83d4;
}

footer h4 {
    font-size: 20px;
    color: #6b83d4;
    margin-bottom: 33px;
}

.dropdown {
    height: 20px;
    margin: 5px;
    line-height: 20px;
    vertical-align: middle;
    margin: 20px auto;
}

.dropdown img {
    height: 100%;
}

.social ul {
    color: white;
    list-style-type: none;
    display: flex;
    gap: 33px;
}

.footer-col>ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

#registration {
    color: white;
    background-color: #7289da;
}